<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="collapse navbar-collapse">
			<a class="navbar-brand" href="#">
			<img src="/images/gora_lion_logo.png" alt="Gora" width="80" height="70" class="d-inline-block align-text-top">
      			Gora V1.0
      		</a>
      		<a class="btn btn-secondary gora-link-panel" href="/titulos/novo">Novo Título</a>
			<a class="btn btn-secondary gora-link-panel" href="/titulos">Pesquisar</a>	 
		</div>

	</nav>
</html>