<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Pesquisa de título</title>
		<link rel = "stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		<link rel = "stylesheet" type="text/css" href="/css/style.css"/>
	</head>
	<body>
		<nav class="navbar bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
				<img src="/images/gora_lion_logo.png" alt="Gora" width="80" height="70" class="d-inline-block align-text-top">
      			Gora V1.0
      			</a>
  			</div>
		</nav>
		
		<div class="card" >
			 <div class="card-header">
			    <h5>Pesquisa título</h5>		    
			 </div> 
			    <div class="card-body">
			    	<table class="table table-bordered table-striped">
			    		<thead>
			    			<tr>
			    				<th class="text-center col-md-1">#</th>
			    				<th>Descrição</th>
			    				<th class="text-center col-md-2">Data de Vencimento</th>
			    				<th class="text-center col-md-2">Valor</th>
			    				<th class="text-center col-md-2">Status</th>
			    				<th class="col-md-1">#</th>
			    			</tr>
			    		</thead>
			    		<tbody>
			    			<tr>
			    				<td colspan = "6"> Sem dados há retornar !</td>
			    			</tr>
			    		</tbody>
			    	</table>
			    
			    </div> 
		</div> 
		
	<script src="/js/jquery-3.6.0.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	</body>
</html>